<h1> Create an Account </h1>

<% unless @user.errors.blank? %>
<p><%= @user.errors.full_messages %></p>
<% end %>

<form action="<%= users_url %>" method="post">
  <input type="hidden" name="authenticity_token"
    value="<%= form_authenticity_token%>" >

  <label for="user_name">User Name</label>
  <input type="text" id="user_name" name="user[user_name]"
    value="<%= @user.user_name %>">

  <label for="user_password">Password</label>
  <input type="password" id="user_password" name="user[password]">

  <input type="submit" value="Sign up!">

</form>